{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block title %}Fullstack{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <div class="header__title">
        <div>Fullstack</div>
        <div>
            <span>D</span>
            <span>E</span>
            <span>V</span>
            <span>E</span>
            <span>L</span>
            <span>O</span>
            <span>P</span>
            <span>E</span>
            <span>R</span>
        </div>
    </div>
    <button id="header__menu">Меню</button>
    <nav class="header__links">
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/geography/">География</a></li>
            <li><a href="/skills/">Навыки</a></li>
            <li><a href="/demand/">Востребованность</a></li>
            <li><a href="/latest/">Новое</a></li>
        </ul>
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    Ulearn Django Project, 2024, Ulearn ID: a7e0331e-6472-4a83-9ff1-61063235392d
</footer>
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>