{% extends 'base.html' %}

{% block title %}
    Востребованность
{% endblock %}

{% block content %}
    <h1>Востребованность FullStack-разработчиков</h1>
    <div class="table__container">
    <table class="table">
        <thead>
        <tr>
            <th>Год</th>
            <th>Количество вакансий</th>
            <th>Количество вакансий (FullStack)</th>
            <th>Средняя зарплата</th>
            <th>Средняя зарплата (FullStack)</th>
        </tr>
        </thead>
        <tbody>
        {% for year in vacancies %}
            <tr>
                <td>{{ year.year }}</td>
                <td>{{ year.count }}</td>
                <td>{{ year.count_fullstack }}</td>
                <td>{{ year.avg_salary|floatformat:"-1" }}</td>
                <td>{{ year.avg_salary_fullstack|floatformat:"-1"|default:'Нет данных' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    
    <div class="chart__container">
        {{ graph|safe }}
    </div>
{% endblock %}