{% extends 'base.html' %}

{% block title %}
    Последние вакансии
{% endblock %}

{% block content %}
    <h1>Последние вакансии</h1>
    {% for vacancy in vacancies %}
        <article>
            <h2>{{ vacancy.name }}</h2>
            <h3>{{ vacancy.salary }}</h3>
            <b>Город: {{ vacancy.area.name }}</b>
            <p>Работодатель: <a href="{{ vacancy.employer.url }}">{{ vacancy.employer.name }}</a></p>
            <p>Вакансия создана
                <time datetime="{{ vacancy.published_at.isoformat }}">{{ vacancy.published_at.day }}.{{ vacancy.published_at.month }}.{{ vacancy.published_at.year }}</time>
            </p>
            <article>
                <h3>Описание</h3>
                {{ vacancy.description|safe }}
            </article>
            <p>Требуемые навыки: {{ vacancy.key_skills }}</p>
        </article>
        <hr />
    {% endfor %}
{% endblock %}