{% extends 'base.html' %}
{% load dict_filters %}

{% block title %}
    {{ page.name }}
{% endblock %}

{% block content %}
    <h1>{{ page.name }}</h1>
    {{ page.content|safe }}
    {% for title, accordion in accordions.items %}
        <h2>{{ title }}</h2>
        <div class="accordion">
            {% for accordionItem in accordion %}
                <div class="accordion__item hidden">
                    <div class="accordion__item__header">
                        <h3>{{ accordionItem.title }}</h3>
                        <button class="accordion__button">Развернуть</button>
                    </div>
                    <div class="accordion__item__content">
                        {% if accordionItem.type == 'table_grid' %}
                            <div class="table__grid">
                                {% for tableKey, tableValue in accordionItem.content.items %}
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th colspan="{{ accordionItem.columns|length }}">{{ tableKey }}</th>
                                        </tr>
                                        <tr>
                                            {% for columnKey, columnValue in accordionItem.columns.items %}
                                                <th>{{ columnValue }}</th>
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for value in tableValue %}
                                            <tr>
                                                {% for columnKey, columnValue in accordionItem.columns.items %}
                                                    <td>{{ value|get_item:columnKey }}</td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endfor %}
                            </div>
                        {% elif accordionItem.type == 'chart' %}
                            <div class="chart__container">
                                {{ accordionItem.content|safe }}
                            </div>
                        {% elif accordionItem.type == 'table' %}
                            <div class="table__container">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        {% for columnKey, columnValue in accordionItem.columns.items %}
                                            <th>{{ columnValue }}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for value in accordionItem.content %}
                                        <tr>
                                            {% for columnKey, columnValue in accordionItem.columns.items %}
                                                <td>{{ value|get_item:columnKey|default:'Нет данных' }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}